<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="test">
        <classes>
            <class name="TestSuites.RegisterationSuite"></class>
            <class name="TestSuites.LoginSuite"></class>
            <class name="TestSuites.AddItemToWishList_TC"></class>
            <class name="TestSuites.AddItemToCart_TC"></class>
            <class name="TestSuites.ChangePassword_TC"></class>
        </classes>
    </test>
</suite>